<h1>{{title}}</h1>
{{!-- <ul>
    {{#each users}}
        <li>nombre y apellido: {{this.nombre}} {{this.apellido}}</li>
    {{/each}}</p>
</ul> --}}
<table class="table table-light table-striped w-50">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>      
    </tr>
  </thead>
  <tbody>
    {{#each users}}
        <tr>
            <th scope="row">{{this.id}}</th>
            <td>{{this.nombre}}</td>
            <td>{{this.apellido}}</td>        
        </tr>
    {{/each}}</p>    
  </tbody>
</table>

